doctype html
html
    head
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        )
        script(
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"
        )
        link(
            href="https://fonts.googleapis.com/css?family=Mada:300,400,500,600,700,900"
            rel="stylesheet"
        )
        link(
            href="estilo.css" 
            rel="stylesheet"
        )
        meta( 
            charset="utf-8"
        )
        link(
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
            crossorigin="anonymous"
        )
    body.container
        .row
            .col-md-4
                p.curriculum Curriculum Vitae
            .col-md-8
                p.atualizado Atualizado em: 18/02/2019

        .row.primeira-linha
            .col-md-4
                .minha-foto
                    img(
                        src="eu.png"
                        width="240"
                        height="240"
                    )
            .col-md-8
                p.meu-nome Krishna Neliê

        .row
            .col-md-4.coluna

                .contato
                    p
                        i.fas.fa-phone
                        |  (21) 97944-3585
                    p
                        i.fas.fa-at
                        |  krishna.nelie@gmail.com
                    p
                        i.fab.fa-github
                        |  github.com/krishnanelie
                    p
                        i.fab.fa-linkedin-in
                        |  linkedin.com/in/krishnanelie

                h3
                    span.nome
                        i.fas.fa-cogs  Habilidades

                .habilidades

                    p
                        i.fab.fa-vuejs
                        |  Vue.js
                    p
                        i.fab.fa-sass
                        |  Sass
                    p
                        img(src="pug.svg" width="20" height="20")
                        |  Pug
                    p
                        i.fab.fa-python
                        |  Python
                    p
                        i.fab.fa-r-project
                        |  R Studio
                    p
                        i.fab.fa-linux
                        |  Linux

                h3
                    .nome
                        i.fas.fa-award  Artigo publicado

                i.fas.fa-newspaper
                |  Agregando valor a uma marca: https://bit.ly/2yDMIkY

            .col-md-8.coluna

                h3.nome
                    i.fas.fa-user-graduate  Formação
                ul
                    li Administração
                    li Ciências contábeis
                    li MBA Gestão financeira e controladoria

                h3
                    .nome
                        i.fas.fa-book  Cursos diversos

                p

                    ul
                        li Cientista de dados • UDEMY
                        li Web Completo 2018 + 10 de projetos • UDEMY
                        li Git e Github • UDEMY
                        li SAP • UDEMY
                        li Excel • UFF
                        li Tesouro direto • UFF
                        li Decisões financeiras • UFF
                        li ABC mercado fnanceiro • UFF

                h3
                    .nome
                        i.fas.fa-business-time  Experiências
                p
                    ul
                        li Desenvolvimento de projetos open-source que servem como introdução a tópicos de aprendizado de máquina como classificação de imagens e análise de sentimento de textos.

                        li Participação ativa em meetups com tópicos diversos: BI, ML, Infra, Cloud, Front-end, Database, PHP, DevOps, métricas Ux, Scrum!

                h3 
                    .nome
                    i.fas.fa-hands-helping  Experiência voluntária-Vetor empresa JR
                p
                    ul
                        li Realizar estudos, elaborar diagnósticos e relatórios sobre assuntos específicos inseridos em sua área de atuação. Assessorar a implantação de soluções indicadas para problemas diagnosticados; Elaboração de eventos, consultoria a alunos e empresas.
                h3
                    .nome
                    .i.fas.fa-comments  Idiomas
                p
                    ul
                        li Português • Nativo
                        li Inglês • Básico
                        li Alemão • Básico